@import _colors
@import _hero
@import _footer
@import _nav

#description
    margin-top: -60px
    padding-top: 60px
    position: relative
    text-align: center
    font-family: 'Raleway', sans-serif



.flex_container 
    font-family: 'Roboto', sans-serif
    display: flex
    flex-wrap: wrap
    align-items: center
    margin: 20px
    

.flex_item 
    display: inline-block
    text-align: center
    flex: 33%
    width: 100%
    
main > img 
    
    border-radius: 0px
    width: 200px



img 
    text-align: center
    max-width: 550px
    max-height: 500px
    display: block
    margin: auto
    border-radius: 28px
    
        
#description > img
    border-radius: 10px
    width: 100%
    align-self: center


#container
    width: 100%
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: repeat(5, auto)

.grid--item--num1
    background-color: lightgray
    grid-column: span 10
    display: inline-flex

#container > h2 
    text-align: center
    grid-column: span 12
    align-self: center
    font-family: 'Comfortaa', sans-serif
    

.grid--item--num1 > div > img
    padding: 20px
    border-radius: 34px
    width: 300px

#box 
    padding: 20px
    display: flex
    flex-wrap: wrap

.grid--item--num2
    text-align: center
    font-family: 'Comfortaa', sans-serif
    padding: 10px
    color: $olivia
    background-color: $dark
    grid-column: span 2
.grid--item--num2 > div > img
    width: 100px

@media screen and (max-width: 576px) 
    .flex_container
        flex-direction: column
        
    

    .flex_item
        flex-wrap: wrap
        
    

    #description > p
        font-size: 15px
        text-align: start
        margin: 10px
@media screen and (max-width: 850px)
    .grid--item--num1
        grid-column: span 12
    .grid--item--num2
        grid-column: span 12        

    
        
        

   



